# Prevents phantom dependencies.
strict-peer-dependencies=true

# Auto-install peer deps.
auto-install-peers=true

# Store built artifacts in project instead of global cache when possible.
node-linker=isolated

# Save exact versions rather than semver ranges.
save-exact=false